@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* shopping */
.shopping-store {
  font-family: Arial, sans-serif;
  position: relative;
}

.container {
  /* padding: 10px; */
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(18, 18, 42);
  /* height: ; */
  position: relative;
}

header {
  /* padding: 10px 6%; */
  width: 100%;
  background-color: rgb(18, 18, 42);
  /* margin-bottom: 50px; */
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 20px;
}


.Logo{
width: 60px;
cursor: pointer;
border-radius: 50%;
}

.span{
color: rgba(218, 165, 32, 0.822);
font-size: 20px;
}


@media only screen and (max-width: 768px) {
  ul {
    display: none;
  }
}
header{
/* border: 3px solid red; */
padding: 0 20px;
top: 0;
}


.content{
margin-top: 12%;
padding: 0 5%;
margin-bottom: 12%;
width: 100%;
color: rgba(218, 165, 32, 0.822);
}

.content h1{
font-size: 6vw;
font-weight: 700;
margin-top: 14px;
}

.content p{
line-height: 2;
color: #fff;
margin-bottom: 10px;
}

.content .btn{
background: rgba(218, 165, 32, 0.822);
}


.containers{
padding: 0 7%;
}

.sub-title{
margin: 50px 0 20px;
font-size: 2.3vw;
font-weight: 500;
color: #333;
}
h1 {
  margin: 0;
}

.cart-button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button{
      background-color: rgba(218, 165, 32, 0.822);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product-list {
  display: grid;
   grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 10px;
}



/* cart */

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px; /* Adjust width as needed */
  max-width: 500px;
  overflow: hidden;
  background-color: #fff;
  border-left: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto; /* Enable scrolling if cart content overflows */
}


.cart {
  max-width: 500px;
  overflow: hidden;
  width: 500px;
}

.close-button {
  background-color: red;
  color: #fff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.cart-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-image {
  width: 50px;
}

.fa-trash {
  font-weight: 500;
  font-size: 30px;
}

.cart-btn {
  /* padding: ; */
  width: 40px;
  height: 40px;
  /* background: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.cart-btn small {
  color: #fff;
  top: 0;
  right: 5px;
  font-weight: 500;
  position: absolute;
  font-size: 15px;
}

.cart-btn i {
  font-size: 20px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .cart-header {
    flex-direction: column;
  }

  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px; /* Adjust width as needed */
    max-width: 300px;
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling if cart content overflows */
  }
  
  
  .cart {
    max-width: 100%;
    overflow: hidden;
    width: 500px;
  }
  
}

.product-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: (4, 1fr);
  gap: 20px;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0 0 10px #ccc;
}

.product img {
  max-width: 100%;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
  margin-bottom: 10px;
}

nav ul li hr {
  border: 0;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}